In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

# 1. Scatter Plot:

In [2]:
##Example 1: Let us illustrate the income vs age of people in a scatter plot

age_array=np.random.randint(25,55,60)
# Define an array containing salesamount values 
income_array=np.random.randint(300000,700000,3000000)

In [3]:
##First we will create an empty figure using go.Figure()
#fig=go.Figure()

In [32]:
#Next we will create a scatter plot by using the add_trace function and use the go.scatter() function within it
# In go.Scatter we define the x-axis data,y-axis data and define the mode as markers with color of the marker as blue
#fig.add_trace(go.Scatter(x=age_array, y=income_array, mode='markers', marker=dict(color='blue')))
#fig.update_layout(title='Economic Survey', xaxis_title='Age', yaxis_title='Income')
# Display the figure
#fig.show()

# 2. Line Plot:¶

In [5]:
##Example 2: Let us illustrate the sales of bicycles from Jan to August last year using a line chart
# Define an array containing numberofbicyclessold  
numberofbicyclessold_array=[50,100,40,150,160,70,60,45]
# Define an array containing months
months_array=["Jan","Feb","Mar","April","May","June","July","August"]

In [33]:
##First we will create an empty figure using go.Figure()
#fig=go.Figure()

In [34]:
#Next we will create a line plot by using the add_trace function and use the go.scatter() function within it
# In go.Scatter we define the x-axis data,y-axis data and define the mode as lines with color of the marker as green
#fig.add_trace(go.Scatter(x=months_array, y=numberofbicyclessold_array, mode='lines', marker=dict(color='green')))

In [35]:
## Here we update these values under function attributes such as title,xaxis_title and yaxis_title
#fig.update_layout(title='Bicycle Sales', xaxis_title='Months', yaxis_title='Number of Bicycles Sold')
# Display the figure
#fig.show()

# 3.Bar Plot:

In [36]:
##Example 3: Let us illustrate the average pass percentage of classes from grade 6 to grade 10

# Define an array containing scores of students 
#score_array=[80,90,56,88,95]
# Define an array containing Grade names  
#grade_array=['Grade 6','Grade 7','Grade 8','Grade 9','Grade 10']

In [37]:
# Use plotly express bar chart function px.bar.Provide input data, x and y axis variable, and title of the chart.
# This will give average pass percentage per class
#fig = px.bar( x=grade_array, y=score_array, title='Pass Percentage of Classes') 
#fig.show()

# 4.Histogram

In [38]:
##Example 4: Let us illustrate the distribution of heights of 200 people using a histogram

import numpy as np
#Here we will concentrate on heights which are 160 and the standard deviation is 11
heights_array = np.random.normal(160, 11, 200)
## Use plotly express histogram chart function px.histogram.Provide input data x to the histogram
#fig = px.histogram(x=heights_array,title="Distribution of Heights")
#fig.show()

# 5. Bubble Plot

In [12]:
##Example 4: Let us illustrate crime statistics of US cities with a bubble chart

#Create a dictionary having city,numberofcrimes and year as 3 keys
crime_details = {
    'City' : ['Chicago', 'Chicago', 'Austin', 'Austin','Seattle','Seattle'],
    'Numberofcrimes' : [1000, 1200, 400, 700,350,1500],
    'Year' : ['2007', '2008', '2007', '2008','2007','2008'],
}
  
# create a Dataframe object with the dictionary
df = pd.DataFrame(crime_details)
  
df

      City  Numberofcrimes  Year
0  Chicago            1000  2007
1  Chicago            1200  2008
2   Austin             400  2007
3   Austin             700  2008
4  Seattle             350  2007
5  Seattle            1500  2008

In [13]:
## Group the number of crimes by city and find the total number of crimes per city
bub_data = df.groupby('City')['Numberofcrimes'].sum().reset_index()

In [39]:
## Bubble chart using px.scatter function with x ,y and size varibles defined.Title defined as Crime Statistics
#fig = px.scatter(bub_data, x="City", y="Numberofcrimes", size="Numberofcrimes",hover_name="City", title='Crime Statistics', size_max=60)
#fig.show()

# 6.Pie Plot:

In [15]:
## Monthly expenditure of a family
# Random Data
exp_percent= [20, 50, 10,8,12]
house_holdcategories = ['Grocery', 'Rent', 'School Fees','Transport','Savings']

In [40]:
# Use px.pie function to create the chart. Input dataset. 
# Values parameter will set values associated to the sector. 'exp_percent' feature is passed to it.
# labels for the sector are passed to the `house hold categoris` parameter.
#fig = px.pie(values=exp_percent, names=house_holdcategories, title='Household Expenditure')
#fig.show()

# 7.Sunburst Charts:

In [31]:
##Example 4: Let us illustrate plot the 

#Create a dictionary having a set of people represented by a character array and the parents of these characters represented in another
## array and the values are the values associated to the vectors.
data = dict(
    character=["Eve", "Cain", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
    parent=["", "Eve", "Eve", "Seth", "Seth", "Eve", "Eve", "Awan", "Eve" ],
    value=[10, 14, 12, 10, 2, 6, 6, 4, 4])

#fig = px.sunburst(data,names='character',parents='parent',values='value',title="Family chart")
#fig.show()

# plotly.graph_objects¶

# 1. Scatter Plot

In [18]:
## Write your code here
#fig=go.Figure()
#fig.add_trace(go.Scatter(x=data['Distance'],y=data['DepTime'],mode='markers', marker=dict(color='green')))
#fig.update_layout(title='Distance vs Departure Time',xaxis_title='Distance',yaxis_title='DeptTime')
#fig.show()

# 2. Line Plot

In [20]:
# Group the data by Month and compute average over arrival delay time.
#line_data = data.groupby('Month')['ArrDelay'].mean().reset_index()

In [21]:
## Write your code here
#fig=go.Figure()
#fig.add_trace(go.Scatter(x=line_data['Month'],y=line_data['ArrDelay'],mode='lines', marker=dict(color='green')))
#fig.update_layout(title='Month vs Average Flight Delay Time',xaxis_title='Month',yaxis_title='ArrDelay')
#fig.show()

# 3. Bar Chart

In [22]:
# Group the data by destination state and reporting airline. Compute total number of flights in each combination
#bar_data = data.groupby('DestState')['Flights'].sum().reset_index(

In [23]:
# Display the data
#bar_data

In [24]:
## Write your code here
#fig=px.bar(bar_data,x='DestState', y='Flights', title='Total number of flights to the destination state split by reporting air')
#fig.show()

# 4. Histogram

In [25]:
# Set missing values to 0
#data['ArrDelay'] = data['ArrDelay'].fillna(0)

In [26]:
## Write your code here
#fig=px.histogram(data,x='ArrDelay', title='Total number of flights to the destination state split by reporting air')
#fig.show()

# 5. Bubble Chart

In [27]:
## Group the data by reporting airline and get number of flights
#bub_data = data.groupby('Reporting_Airline')['Flights'].sum().reset_index()

In [28]:
## Write your code here
#fig=px.scatter(bub_data,x='Reporting_Airline', y='Flights', size='Flights',hover_name='Reporting_Airline',title='Reporting Airline vs Number of Flights')
#fig.show()

# 6. Pie Chart

In [29]:
## Write your code here
#fig=px.pie(data,values='Month',names="DistanceGroup", title='Distance group proportion by month')
#fig.show()

# 7. SunBurst Charts

In [30]:
## Write your code here
#fig=px.sunburst(data,path=['Month','DestStateName'],values='Flights', title='Flight Distribution Hierarchy')
#fig.show()